{% extends "IutTrombiBundle:Prof:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Index
{% endblock %}

{% block group_title %}
    {{ parent() }} Veuillez selectionnez un groupe dans le menu
{% endblock %}

{% block body %}
    <p> Bienvenue dans TrombIUT ! </p>
{% endblock %}


