{% extends "IutTrombiBundle:Secretaire:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Erreur
{% endblock %}

{% block group_title %}
    Erreur
{% endblock %}

{% block body %}
    <h3>Erreur lors de l'upload de la photo</h3>
    <br>
    <p>L'image de respecter les condition ci-dessous :</p>
    <p>Extension acceptées : JPG / JPEG / PNG</p>
    <p>Dimension : 222*222 pixels</p>
    <p>Taille maximale du fichier : 1Mo</p>
    <br>
    <h3>Réesayer en vérifiant que votre photo respecte les condidtions</h3>
{% endblock %}
